.cara{
    font-size: 20px; /* TODAS LAS VARIABLES DE TAMAÑO ESTÁN EN RELACION A ESTA, CON SOLO CAMBIAR ESTE VALOR TODO CAMBIA */
    width: 30em; /*CAMBIAMOS POR em PARA SOLO TENER QUE CAMBIAR LA FUENTE PARA VARIAR LA ALTURA*/
    height: 30em;/*CAMBIAMOS POR em PARA SOLO TENER QUE CAMBIAR LA FUENTE PARA VARIAR LA ALTURA*/
    border: solid 1em black; /* SE CAMBIÓ EL VALOR A em YA QUE BORDER NO ACEPTA %, AHORA SI PODEMOS VARIAR EL GROSOR DEL MISMO AUTOMÁTICAMENTE*/
    background-color: yellow;
    border-radius: 50%;
    position: fixed; /* PUEDES PONER CUALQUIER VALOR MENOS STATIC*/
}

.ojo{    /* COMO EXISTÍA CÓDIGO REPETIDO CREE UNA CLASE CON EL MISMO */
    width: 10%;
    height: 10%;
    background-color: black;
    position:absolute;
    border-radius: 50%;
    top: 30%;  
}

.ojo_derecho{
    left: 25%;
}

.ojo_izquierdo{
    right: 25%;
}

.boca{
    width: 50%;
    height: 30%;
    position:absolute;
    top: 50%;
    right: 25%;
    border-bottom: solid 1em black;
    border-radius: 50%;    
}













